#no-mobile {
	position: fixed;
	z-index: 99;
	height: 100vh;
	width: 100vw;
	background-color: var(--yellow);
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
}

@media screen and (max-width: 645px) {
	#no-mobile {
		display: none;
	}

	body {
		margin: 0;
		height: 100%;
		overflow: hidden;
	}
}
